<div class="responsive-iframe-container big-container">
    <iframe
        src="https://calendar.google.com/calendar/embed?wkst=1&ctz=Asia%2FSeoul&bgcolor=%23ffffff&mode=WEEK&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&src=a29yZWEuZHJ6aXhAZ21haWwuY29t&src=a3llb25nbWluLmNob0BjcC5rYWlzdC5hYy5rcg&src=cWR1YXRyM3NldXI4MzVwazRhb2xvazI5MDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
        style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
<div class="responsive-iframe-container small-container">
    <iframe
        src="https://calendar.google.com/calendar/embed?wkst=1&ctz=Asia%2FSeoul&bgcolor=%23ffffff&mode=AGENDA&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&src=a29yZWEuZHJ6aXhAZ21haWwuY29t&src=a3llb25nbWluLmNob0BjcC5rYWlzdC5hYy5rcg&src=cWR1YXRyM3NldXI4MzVwazRhb2xvazI5MDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
        style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
