<div class="responsive-iframe-container big-container">
    <iframe
        src="https://calendar.google.com/calendar/embed?wkst=1&ctz=Asia%2FSeoul&bgcolor=%23ffffff&mode=WEEK&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&src=a29yZWEuZHJ6aXhAZ21haWwuY29t&src=ZW4uc291dGhfa29yZWEub2ZmaWNpYWwjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=a3llb25nbWluLmNob0BjcC5rYWlzdC5hYy5rcg&src=a3llb25nbWluLmNob0ByZWJlbGxpb25zLmFp"
        style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
<div class="responsive-iframe-container small-container">
    <iframe
        src="https://calendar.google.com/calendar/embed?wkst=1&ctz=Asia%2FSeoul&bgcolor=%23ffffff&mode=AGENDA&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&src=a29yZWEuZHJ6aXhAZ21haWwuY29t&src=ZW4uc291dGhfa29yZWEub2ZmaWNpYWwjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=a3llb25nbWluLmNob0BjcC5rYWlzdC5hYy5rcg&src=a3llb25nbWluLmNob0ByZWJlbGxpb25zLmFp"
        style="border-width:0" frameborder="0" scrolling="no"></iframe>
</div>
